# Build output
build/
out/
cmake-build-*/

# IDE files
.vs/
.vscode/
*.suo
*.user
*.sln.docstates
*.vcxproj*
*.sln

# Compiled binaries
*.exe
*.obj
*.pdb
*.ilk
*.lib
*.dll
*.exp
*.log
*.ipch
*.cache

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# IntuneWin packaging output
*.intunewin
